:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --maintext-color: #757575;
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --footer-address-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --button-color: #212121;
  --button-accent-color: #2196f3;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
